<div class="spacing-32">
  <div class="spacing-32">
    {{{typography
      copy.welcomeTitle
      "headline37"
      "foregroundDefault"
    }}}
    {{{typography
      copy.welcomeDescription
      "small"
      "foregroundMuted"
    }}}
    {{{projectInfoText}}}
    {{{divider false "divider-left"}}}
  </div>
  
  <div class="spacing-8">
    {{{typography copy.accountServicesTitle "headline26" "foregroundDefault"}}}
    {{{typography
      copy.accountServicesDescription
      "small"
      "foregroundMuted"
    }}}
  </div>
  <div class="wrap-content spacing-16-horizontal">
    {{{concepts}}}
  </div>
  {{{divider false "divider-left"}}}
</div>
