<div class="spacing-32">
  <div class="spacing-32">
    {{{typography
      "Welcome to VKWAVE"
      "headline37"
      "foregroundDefault"
    }}}
    {{{typography
      "Sign in, verify your email, recover access, and manage your VKWAVE account from one secure place."
      "small"
      "foregroundMuted"
    }}}
    {{{projectInfoText}}}
    {{{divider false "divider-left"}}}
  </div>
  
  <div class="spacing-8">
    {{{typography "Account services" "headline26" "foregroundDefault"}}}
    {{{typography
      "Use these shortcuts to review your account and security settings."
      "small"
      "foregroundMuted"
    }}}
  </div>
  <div class="wrap-content spacing-16-horizontal">
    {{{concepts}}}
  </div>
  {{{divider false "divider-left"}}}
</div>
